html, body {
  min-width: 400px;
}

body, input, button {
  font-size: 14px;
  font-family: arial, sans-serif;
  color: #bdc1c6;
}

body {
  margin: 0;
  padding: 0;
  background-color: #202124;
}

a {
  padding-left: 15px;
  text-decoration: none;
  color: white;
}

a:hover {
  color: white;
  text-decoration: underline;
}

form {
  display: block;
  margin-top: 0em;
}

.bodydiv {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.div1 {
  display: flex;
  align-items: center;
  padding: 6px;
  height: 60px;
  flex-shrink: 0;
  box-sizing: border-box;
}

.div1_1 {
  display: inline-block;
  flex-grow: 1;
}

.div1_1_1 {
  padding-left: 0;
  float: right;
  box-sizing: border-box;
  height: 48px;
  line-height: normal;
  padding-right: 40px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  justify-content: flex-end;
  vertical-align: middle;
  white-space: nowrap;
  align-items: center;
  display: flex;
  font-size: 13px;
  color: white;
}

.div2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 92px;
  max-height: 290px;
  height: calc(100% - 560px);
  flex-shrink: 0;
  box-sizing: border-box;
}

.div2_1 {
  max-height: 92px;
  position: relative;
  height: 100%;
  margin-top: auto;
}

.div3 {
  padding: 20px;
  max-height: 160px;
  flex-shrink: 0;
  box-sizing: border-box;
}

.div3_1 {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 6px;
  max-width: 584px;
  position: relative;
}

.div3_1_1 {
  display: flex;
  height: 44px;
  border: 1px solid #5f6368;
  border-radius: 24px;
  margin: 0 auto;
  width: auto;
  max-width: 584;
}

.div3_1_1_1 {
  flex: 1;
  display: flex;
  padding: 5px 8px 0 14px;
}

.div3_1_1_1_1 {
  display: flex;
  align-items: center;
  padding-right: 13px;
  margin-top: -5px;
}

.div3_span1 {
  height: 20px;
  line-height: 20px;
  width: 20px;
  margin-top: 3px;
  color: #9aa0a6;
  display: inline-block;
  fill: currentColor;
  position: relative;
}

.div3_span1 svg {
  display: block;
  height: 100%;
  width: 100%;
}

.div3_1_1_1_2 {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
}

.div3_1_1_1_2_1 {
  color: transparent;
  flex: 100%;
  white-space: pre;
  height: 34px;
  font-size: 16px;
}

.div3_1_1_1_2_2 {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  color: #e8eaed;
  word-wrap: break-word;
  outline: none;
  display: flex;
  flex: 100%;
  margin-top: -37px;
  height: 34px;
  font-size: 16px;
}

.div3_1_1_1_3 {
  display: flex;
  flex: 0 0 auto;
  margin-top: -5px;
  align-items: stretch;
  flex-direction: row;
}

.div3_1_1_1_3_1 {
  padding: 4px;
  background: transparent;
  align-items: center;
  flex: 1 0 auto;
  flex-direction: row;
  display: flex;
  cursor: pointer;
}

.div3_1_1_1_3_1_1 {
  display: flex;
  background: transparent;
  border: 0;
  align-items: center;
  flex: 1 0 auto;
  cursor: pointer;
  height: 100%;
  line-height: 44px;
  outline: none;
  padding: 0 12px;
}

.div3_1_1_1_3_1_1span1 {
  height: 100%;
  color: #757b80;
  vertical-align: middle;
  outline: none;
  display: inline-block;
  fill: currentColor;
  line-height: 24px;
  position: relative;
  width: 24px;
}

.div3_1_1_1_3_1_1span1 svg {
  display: block;
  height: 100%;
  width: 100%;
}

.div3_1_1_1_3_1span {
  display: block;
  border-left: 1px solid #5f6368;
  height: 65%;
}

.div3_1_1_1_3_2 {
  flex: 1 0 auto;
  display: flex;
  cursor: pointer;
  align-items: center;
  border: 0;
  background: transparent;
  outline: none;
  padding: 0 8px;
  width: 24px;
  line-height: 44px;
  box-sizing: unset;
}

.div3_1_1_1_3_2svg {
  height: 24px;
  width: 24px;
  vertical-align: middle;
}

.div3_1_2 {
  height: 70px;
  padding-top: 18px;
}

.div3_1_2 input[type=submit] {
  background-color: #303134;
  border: 1px solid #303134;
  border-radius: 4px;
  color: #e8eaed;
  font-family: arial, sans-serif;
  font-size: 14px;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.box {
  display: flex;
  flex-wrap: wrap;
  height: 44px;
  background: #202124;
  border: 1px solid #5f6368;
  border-radius: 24px;
}/*# sourceMappingURL=styles.css.map */